.WelcomeContainer {
  padding: 0rem 2.5rem;
  position: relative;
  top: -94px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .WelcomeImageMobile {
    display: none;
  }
  .WelcomeImageDesktop {
    display: block;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .WelcomeImageMobile {
    display: none;
  }
  .WelcomeImageDesktop {
    display: block;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .WelcomeContainer {
    top: 0px;
  }
  .WelcomeImageMobile {
    display: none;
  }
  .WelcomeImageDesktop {
    display: block;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .WelcomeImageMobile {
    display: none;
  }
  .WelcomeImageDesktop {
    display: block;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  .WelcomeImageMobile {
    display: block;
  }
  .WelcomeImageDesktop {
    display: none !important;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .WelcomeContainer {
    top: 34px;
  }
  .WelcomeImageMobile {
    display: block;
  }
  .WelcomeImageDesktop {
    display: none !important;
  }
}
